.back-button {
  margin-top: 20px;
  font-size: 30px;
  width: fit-content;
}

.editor-grid {
  display: grid;
  grid-template-rows: 100px 1fr;

  gap: 20px;

  padding-bottom: 50px;
}

.content-editor {
  min-height: fit-content;
  max-height: fit-content;

  font-size: 20px;
  margin-bottom: 50px;
}
