.card-container {
  position: relative;
  min-width: 150px;

  max-width: 230px;
  height: fit-content;
}

.note-card {
  position: relative;

  display: grid;
  grid-template-columns: [start] 20px [content-start]1fr[content-end] 20px[end];
  grid-template-rows: 100px 1fr;
  padding: 20px 0;

  min-width: 150px;
  max-width: 230px;
  height: 230px;

  overflow: hidden;
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: 1px solid var(--primary-color);

  transition: transform 0.5s;
}

.card-shadow {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: var(--primary-color);
  border-radius: 10px;
}

.note-card:hover {
  transform: translate(10px, -10px);
}

.note-card > * {
  grid-column: content;
}

.card-title {
  margin-top: 30px;

  font-size: 25px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.options-button {
  position: absolute;
  top: 10px;
  right: 0;
  width: 20px;
  height: 20px;

  background-color: transparent;
  color: var(--primary-color);
  font-size: 16px;
  padding: 0;
  margin: 0;
  border: none;
}

.deleting-overlay {
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: start / end;
  gap: 10px;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
