.header {
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;

  height: 70px;
  width: 100%;
  background-color: #FFBE2E;
}

.options {
  display: none;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 20px;
}
