.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  margin-left: 10px;

  color: var(--primary-color);
}

.input {
  width: 300px;
  height: 35px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  padding: 0 10px;
  font-weight: 300;
}

.input::placeholder {
  color: var(--primary-color-200);
}

.input:focus {
  outline: none;
}

.error-message {
  font-size: 12px;
  color: var(--alert-color);
}
