.loading-page {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.loading-title {
  font-size: 64px;
  font-weight: 400;
  animation: loading 0.5s infinite alternate-reverse;
}

@keyframes loading {
  0% {
    color: var(--secondary-color-transparent);
  }

  100% {
    color: var(--secondary-color);
  }
}
