.form-container {
  width: 300px;
  justify-self: center;
}

.container {
  padding-bottom: 50px;

  width: 100%;
  height: calc(100vh - 70px);

  overflow-y: auto;
}

.wave {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 500px;
  height: 500px;

  object-fit: fill;
}
.second {
  align-self: flex-end;
  left: calc(100% - 490px);
  top: -20px;
}

.first {
  top: calc(100% - 430px);
}
