.content-grid,
.full-width {
  display: grid;
  grid-template-columns: [full-content-start] 30px [margin-content-start] 50px [center-content-start] 1fr [center-content-end] 50px [margin-content-end] 30px [full-content-end];
}
.content-grid > * {
  grid-column: margin-content;
}

.full-width > * {
  grid-column: full-content;
}

.content-grid > .center-content {
  grid-column: center-content;
}

.gradient-title {
  font-size: 18px;
  font-weight: 400;

  background-image: linear-gradient(
    180deg,
    var(--primary-color-dark),
    var(--primary-color-300)
  );
  background-size: 100%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-title.--large-title {
  font-size: 64px;
}

.gradient-title.--medium-title {
  font-size: 40px;
}

.gradient-title.--small-title {
  font-size: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  min-width: fit-content;
  max-width: 100px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  font-size: 16px;

  transition: transform 0.5s;
}

.button:disabled,
.button[disabled] {
  background-color: var(--primary-color-200) !important;
}

.button:disabled:has:not(.--dark),
.button[disabled]:has:not(.--dark) {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color-200);
}

.button.--full-extension {
  max-width: 100%;
}

.button.--bordered {
  border-radius: 100px;
}

.button.--dark {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
}

.button:hover {
  transform: scale(105%);
}

.subtitle {
  color: var(--primary-color);
  margin: 0;
}

a {
  transition: font-weight 0.5s;
  transition: text-decoration 0.5s;
}

a.disable-link {
  color: var(--primary-color-200);
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}
