@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --primary-color-300: #5e5e5e;
  --primary-color-200: #838383;
  --primary-color-dark: #000000;
  --primary-color: #333333;
  --primary-color-transparent: #2020203b;
  --alert-color: rgb(251, 192, 65);

  --secondary-color: white;
  --secondary-color-transparent: rgba(255, 255, 255, 0.7);
}

.lexend-100 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body.dark-mode {
  --primary-color-300: #888888;
  --primary-color-transparent: #3333333b;
  --primary-color: #414141;
  --secundary-color: rgb(37, 37, 37);
  --secondary-color-transparent: rgba(255, 255, 255, 0.7);
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
