@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --primary-color-300: #a06ff9;
  --primary-color-200: #8f88ff;
  --primary-color-dark: #3800ff;
  --primary-color: #6635fd;
  --primary-color-transparent: #6735fd3b;
  --alert-color: rgb(251 65 133);

  --secondary-color: white;
  --secondary-color-transparent: rgba(255, 255, 255, 0.7);
}

.lexend-100 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body.dark-mode {
  --primary-color-300: #a06ff9;
  --primary-color-transparent: #6735fd3b;
  --primary-color: #6635fd;
  --secundary-color: rgb(37, 37, 37);
  --secondary-color-transparent: rgba(255, 255, 255, 0.7);
}

a {
  color: blue;
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
